.App{
    height: 100vw;
    background-color: #111;
    /* background-image: url(https://i.pinimg.com/originals/46/2f/56/462f56d9c11e41741daae2c35c70f069.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}