@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.contenedor{
    display: flex;
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    box-shadow: -1px 2px 2px white;
}

.link{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}



.nombre{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    color: rgba(214, 213, 142, 0.897);
}

.continente{
    color: rgba(214, 213, 142, 0.897);
}

.bandera {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}