@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
    border-bottom: 1px solid black;
    box-shadow: -2px 2px 2px black;
}

.titulo{
    color: #bed1ef;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-shadow: -2px 2px 2px black;
}

.button{
    height: 2rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #0559e1;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: -3px 5px 5px black;
    padding: 0 0.5rem;
}

.button:hover{
    background-color: white;
    color:#0559e1;
}
