@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
    border-bottom: 1px solid black;
    box-shadow: -2px 2px 2px black;
}

.titulo{
    color: rgb(228, 225, 47);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-shadow: -2px 2px 2px black;
}

.button{
    height: 2rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: rgb(135, 136, 130);
    color: rgb(228, 225, 47);
    border: none;
    border-radius: 10px;
    box-shadow: -3px 5px 5px black;;
}

.button:hover{
    background-color: rgb(228, 225, 47);
    color:rgb(105, 105, 102);
}
