@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.contenedor{
    display: flex;
    align-items: center;
    height: 4rem;
    border: 1px solid black;
    box-shadow: -2px 2px 2px black;
    justify-content: center;
}

.filtros{
    display: flex;
    justify-content: center;
    margin: 0 3rem;
    align-items: center;
}

.label{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

.select {
    width: 12rem;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    height: 2rem;
    border-radius: 10px;
    color: #0559e1; 
    margin-right: 3rem;
    padding-left: 0.3rem;
}

.select:focus{
    outline: none;
}

.select:hover{
    background-color: white;
    color: #0559e1;
}

.reset{
    height: 2rem;
    margin-left: 3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #ee0a2d;
    color: white;
}

.reset:hover{
    background-color: rgb(145, 6, 6);
}

.link{
    color: white;
    text-decoration: none;
}

link:visited {
    text-decoration: none;
}


