@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.paginado{
}

.lista{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.boton{
    background-color: white;
    width: 2rem;
    height: 1.7rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: -1px 1px 1px black;
    color:#0559e1;
}

.boton:hover{
    background-color: #0559e1;
    cursor: pointer;
    color:white;
}

.link{
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif ;
}

.link:hover{
    color: inherit;
}